// buttons Styles
.btn {
  display: block;
  padding: 0.3rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  font-weight: 700;
  border: 4px solid $color-primary-dark;
  border-radius: 7px;
  @include easeIn;

  &:hover {
    background: $color-primary-red;
    color: set-text-color($color-primary-black);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($color-primary-black, 10);
  color: $color-primary-light;
}

.btn-light {
  @extend .btn;
  @extend .btn;
  background: lighten($color-primary-black, 80);
  color: $color-primary-black;
}
