// Sass Variables

//colors

// dark-green, used for darker parts, section-background, footer etc.
$color-primary-dark: #50514f;
// almost black, used for text.
$color-primary-black: #25171a;
// red used for buttons and details.
$color-primary-red: #f56960;
// used for text, backgrounds and details.
$color-primary-light: #dee5e5;

// Images
//background
$show-home-image: true;
$home-image: url(/img/background.jpg);
$background-opacity: 0.9;
