// Sass Variables

//colors
// 5 primary colors
// Lime-green.  used for buttons and details.
$color-primary: #58b09c;
// dark-green, used for darker parts, section-background, footer etc.
$color-primary-dark: #50514f;
// almost black, used for text.
$color-primary-black: #25171a;
// red used for buttons and details.
$color-primary-red: #f56960;
// used for text, backgrounds and details.
$color-primary-light: #dee5e5;

//extra
$color-grey-shadow: rgba(0, 0, 0, 0.5);
